extends layout

block content
  h1= title
  p Welcome to #{title}
  #header-container
    header.wrapper.clearfix
      h1#title AdWords Dashboard Template
      nav
        ul
          li
            a(href='index') Home
          li
            a(href='Notes.html') List Of Notes
          li
            a(href='#') Contact
  #main-container
    #main.wrapper.clearfix
      table.table.table-bordered#mainTable
        thead
          th Ad Group
          th Keyword
          th Impressions
          th Clicks
          th Match Type
          th Cost
          th Conversions
        tbody
          each d in data
            tr
              td= d["Ad group"]
              td= d.Keyword
              td= d.Impressions
              td= d.Clicks
              td= d["Match type"]
              td= d.Cost
              td= d.Conversions






    // #main
  // #main-container



