extends layout

block content
  h1= title
  p Welcome to #{title}
  #header-container
    header.wrapper.clearfix
      h1#title AdWords Dashboard Template
      nav
        ul
          li
            a(href='index.html') Home
          li
            a(href='Notes.html') List Of Notes
          li
            a(href='#') Contact
  #main-container
    #main.wrapper.clearfix
      each d in data
        .col-xs-12.list-group-item
          //p= d["Ad group"]
          //p= d.Keyword
          //p= d.Clicks
          //p= d["Match type"]

          table.table(border='1', cellpadding='10', cellspacing='10')
            tr
              th Ad Group
              th Keyword
              th Impressions
              th Clicks
              th Match Type
              th Cost
              th Conversions
            tr
              td= d["Ad group"]
              td= d.Keyword
              td= d.Impressions
              td= d.Clicks
              td= d["Match type"]
              td= d.Cost
              td= d.Conversions

    // #main
  // #main-container



